@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root,
#root,
#docs-root {
  --primary-red: '#FF6B6B';
  --primary-blue: '#4D96FF';
  --primary-yellow: '#FFD93D';
  --primary-green: '#6BCB77';
  --carousel-border: 2px;
}

html,
body {
  font-size: large;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@keyframes glazed-animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes pulsate {
  0% {
    transform: translateY(10px) rotate(0deg) scale(2);
  }
  50% {
    transform: translateY(-40px) rotateX(60deg) scale(1);
  }
  100% {
    transform: translateY(10px) rotateX(0deg) scale(1);
  }
}

@keyframes pulsateMobile {
  0% {
    transform: translateY(-10px) rotate(0deg) scale(2);
  }
  50% {
    transform: translateY(40px) rotateX(60deg) scale(1);
  }
  100% {
    transform: translateY(-10px) rotateX(0deg) scale(1);
  }
}

.active {
  color: red;
  background-color: white;
  animation: pulsate 1s 1 ease-in-out;
  border: 2px darkblue solid;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #000;
  padding: 3px;
  transition: all 2s;
}

.contactHeaderText {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}

.homeText {
  font-family: 'Henny Penny', cursive;
  letter-spacing: 1px;
}

/* .glazed-confused styles */
.glazed-confused {
  position: absolute;
  width: 100%;
  display: flex;
  height: 10vh;
}

.glazed-confused span {
  display: inline-block;
  animation: glazed-animation 1s ease-in-out both;
  animation-delay: calc(var(--delay) * 0.2s);
  opacity: 0;
  transform: translateY(-300%);
  font-size: 20px;
  font-weight: bold;
}

/* Background Video */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-video__content {
  display: flex;
}

/* Image Container */
.imgContainer {
  -webkit-mask-image: linear-gradient(
    to top,
    #454545 50%,
    rgba(0, 0, 0, 0.5) 70%
  );
  mask-image: linear-gradient(to top, rgb(0, 0, 0) 50%, #454545 70%);
}
.topToBottomGradient {
  /* Using -webkit-mask-image for compatibility with older browsers */
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.shining-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shining-button {
  position: relative;
  overflow: hidden;
  background-color: var(--button-bg-color, #75c2f6);
  color: white;
  border: none; /* Remove the border property from here */
  border-radius: 10px;
  padding: 15px 40px;
  z-index: 100;
}

.shining-button:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(20, 199, 231, 0.5) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
  animation: ripple-animation 20.5s linear infinite;
  pointer-events: none;
  opacity: 0;
  z-index: -1;
  border-radius: 10px; /* Add border-radius to match the button */
}

.shining-button:hover:before {
  opacity: -1; /* Show the ripple effect on hover */
}

@keyframes ripple-animation {
  from {
    transform: translateY(-100%);
    opacity: 0.5;
  }
  to {
    transform: translateY(100%);
    opacity: 0;
  }
}

/* Image Container */
.bottomGradient {
  -webkit-mask-image: linear-gradient(
    to top,
    /* Change "to bottom" to "to top" */ #454545 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  mask-image: linear-gradient(
    to top,
    /* Change "to top" to "to bottom" */ rgb(0, 0, 0) 0%,
    #454545 100%
  );
}

.truck {
  background-image: url('../public/truck\ photo\ 1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  &:before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(
      to top,
      rgba(255, 0, 230, 0.3),
      /* Lighter white */ rgba(4, 0, 255, 0.1) /* Darker black */
    );
    z-index: -1;
  }

  /* Add saturation adjustment */
  @media (min-width: 768px) {
    filter: invert(0) sepia(0); /* Adjust the value as needed */
  }
}
#donut-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  /* Add saturation adjustment */
  @media (min-width: 768px) {
    filter: invert(0) grayscale(0) sepia(0) brightness(1.3) saturate(1.6)
      contrast(1.05); /* Adjust the value as needed */
  }
}
.animated-pulse {
  animation: pulseAnimation 3s infinite;
  animation-delay: 1s; /* Delay the animation to create a stagger effect */
}

@keyframes pulseAnimation {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
}
@keyframes moveRandomly {
  0%,
  100% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-3px, -3px);
  }
  50% {
    transform: translate(3px, 3px);
  }
  75% {
    transform: translate(-3px, 3px);
  }
}

.activeNavItem {
  animation: navItemAnimate 1s ease-in-out;
  transform: translateY(0%) scale(1.1);
  transition: all 1s ease;
  font-weight: bold;
  font-family: 'Henny Penny', cursive;
  letter-spacing: 2px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 10px solid rgb(0, 128, 255);
  z-index: 99999;
  padding: 5px;
  color: 'white' !important;
  background-color: #ff52a2;
  :hover {
    border-bottom: hidden;
  }
}

.passiveNavItem {
  :hover {
    border-bottom: solid 2px white;
  }
}

@keyframes navItemAnimate {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0%) scale(1.1);
    opacity: 1;
  }
}
.borderStyleCarousel {
  border-right: #7eaa92 solid var(--carousel-border);
  border-left: #9ed2be solid var(--carousel-border);
  border-top: #7eaa92 solid var(--carousel-border);
  border-bottom: #9ed2be solid var(--carousel-border);
  padding: 10px;
  border-radius: 10px;
}
.donutsText {
  border: rgba(65, 117, 5, 1) solid var(--carousel-border);
  border-radius: 10px;
  padding: 16px;
  width: 'full';
  height: 'full';
  flex: 1;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-shadow:
    -1px -1px 1px #fff,
    2px 2px 5px #d1d9e6;

  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  background-color: rgba(255, 255, 255, 0.8);
}
.neuButton {
  width: fit-content;
  text-transform: uppercase;
  font-family: 'Henny Penny', cursive;
  background: #ff52a2;
  border: none;
  cursor: pointer;
  padding: 30px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 900;
  color: #d1d9e6;
  text-shadow: 2px 2px 5px #ff6b6b;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  .neuButton {
    padding: 20px;
    font-size: 20px;
  }
}

.neuButton:focus {
  outline: none;
}
.neuButton:hover {
  transform: scale(1.05);

  border: solid black 5px;
}
.gradientContainer {
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}
/* ImageCarousel.module.css */
