/* Import Tailwind CSS first */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base {
  :root {
    --primary-red: #ff6b6b;
    --primary-pink: #ff52a2;
    --primary-blue: #4d96ff;
    --primary-blue-opacity: rgb(77, 150, 255, 1);
    --primary-yellow: #ffd93d;
    --primary-green: #6bcb77;
    --carousel-border: 2px;
  }

  html,
  body {
    font-size: 13px;
    overflow-x: hidden;
  }

  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  a {
    text-decoration: none !important;
  }
}
/* Then apply Tailwind CSS with @apply */

.active {
  color: red;
  background-color: white;
  animation: pulsate 1s 1 ease-in-out;
  border: 2px darkblue solid;
  border-radius: 50px;
  box-shadow: 0px 0px 10px #000;
  padding: 3px;
  transition: all 2s;
}

.contactHeaderText {
  letter-spacing: 0.5px;
}

.homeText {
  font-family: 'Henny Penny', cursive;
  letter-spacing: 1px;
}

/* .glazed-confused styles */
.glazed-confused {
  position: absolute;
  width: 100%;
  display: flex;
  height: 10vh;
}

.glazed-confused span {
  display: inline-block;
  animation: glazed-animation 1s ease-in-out both;
  animation-delay: calc(var(--delay) * 0.2s);
  opacity: 0;
  transform: translateY(-300%);
  font-size: 20px;
  font-weight: bold;
}

/* Background Video */
.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg-video__content {
  display: flex;
}

/* Image Container */
.imgContainer {
  -webkit-mask-image: linear-gradient(
    to top,
    #454545 50%,
    rgba(0, 0, 0, 0.5) 70%
  );
  mask-image: linear-gradient(to top, rgb(0, 0, 0) 50%, #454545 70%);
}
.topToBottomGradient {
  /* Using -webkit-mask-image for compatibility with older browsers */
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.navbarGradientScroll {
  background: -webkit-linear-gradient(
    to bottom,
    var(--primary-blue) 50%,
    transparent 100%
  );
  background: linear-gradient(
    to bottom,
    var(--primary-blue) 50%,
    transparent 100%
  );
}
.navbarGradient {
  background: -webkit-linear-gradient(
    to bottom,
    rgb(66 165 245 / 1) 50%,
    transparent 100%
  );
  background: linear-gradient(
    to bottom,
    rgb(66 165 245 / 1) 50%,
    rgb(255, 255, 255, 0.3) 100%
  );
}

/* Image Container */
.bottomGradient {
  -webkit-mask-image: linear-gradient(
    to top,
    /* Change "to bottom" to "to top" */ #454545 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
  mask-image: linear-gradient(
    to top,
    /* Change "to top" to "to bottom" */ rgb(0, 0, 0) 0%,
    #454545 100%
  );
}

.truck {
  background-image: url('../public/truck\ photo\ 1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &:before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    background: linear-gradient(
      to top,
      rgba(255, 0, 230, 0.3),
      /* Lighter white */ rgba(4, 0, 255, 0.1) /* Darker black */
    );
    z-index: -1;
  }

  /* Add saturation adjustment */
  @media (min-width: 768px) {
    filter: invert(0) sepia(0); /* Adjust the value as needed */
  }
}
#donut-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* Add saturation adjustment */
  @media (min-width: 768px) {
    filter: invert(0) grayscale(0) sepia(0) brightness(1.3) saturate(1.6)
      contrast(1.05); /* Adjust the value as needed */
  }
}
.animated-pulse {
  animation: pulseAnimation 3s infinite;
  animation-delay: 1s; /* Delay the animation to create a stagger effect */
}

.activeNavItem {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: navItemAnimate 1s ease-in-out;
  transform: translateY(0%) scale(1.1);
  transition: all 1s ease;
  font-family: 'Henny Penny', cursive !important;
  letter-spacing: 2px;
  z-index: 99999;
  padding: 5px;
  box-shadow: 0px 0px 5px black;
  color: 'white' !important;
  background-color: #ff52a2;
  :hover {
    border-bottom: hidden;
  }
}
.client-header-text {
  font-family: 'Henny Penny', cursive !important;
  letter-spacing: '5px';
}
.passiveNavItem {
  :hover {
    background-color: rgb(245, 245, 245);
  }
}
.mobilePassiveNavItem {
  :hover {
    background-color: rgb(245, 245, 245);
    padding: 3px;
    -webkit-mask-image: linear-gradient(
      to right,
      /* Change "to bottom" to "to top" */ #454545 50%,
      transparent 100%
    );
    mask-image: linear-gradient(
      to right,
      /* Change "to bottom" to "to top" */ #454545 50%,
      transparent 100%
    );
  }
}

.passiveNavItem:hover:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  top: 5px;
  animation: bottomBorderSizer 0.5s 1 linear;
  background-color: rgb(255, 82, 162);
  z-index: -10;
  left: 0;
}

@keyframes bottomBorderSizer {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes rotateColors {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(100%) rotateX(90deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 0;
    z-index: -10; /* Set a lower z-index for the pseudo-element */
    background-color: transparent;
  }
}

.borderStyleCarousel {
  border-right: #7eaa92 solid var(--carousel-border);
  border-left: #9ed2be solid var(--carousel-border);
  border-top: #7eaa92 solid var(--carousel-border);
  border-bottom: #9ed2be solid var(--carousel-border);
  padding: 10px;
  border-radius: 10px;
}
.donutsText {
  border: rgba(65, 117, 5, 1) solid var(--carousel-border);
  border-radius: 10px;
  padding: 16px;
  width: 'full';
  height: 'full';
  flex: 1;
  letter-spacing: 1.3px;
  font-weight: 400;
  text-shadow:
    -1px -1px 1px #fff,
    2px 2px 5px #d1d9e6;

  font-size: 1.5rem /* 24px */;
  line-height: 2rem /* 32px */;
  background-color: rgba(255, 255, 255, 0.8);
}
.neuButton {
  width: fit-content;
  text-transform: uppercase;
  font-family: 'Henny Penny', cursive;
  background: #ff52a2;
  border: none;
  cursor: pointer;
  padding: 30px;
  border-radius: 10px;
  font-size: 32px;
  font-weight: 900;
  color: #d1d9e6;
  text-shadow: 2px 2px 5px #ff6b6b;
  transition: all 0.3s ease-out;
}

@media (max-width: 768px) {
  .neuButton {
    padding: 20px;
    font-size: 20px;
  }
}

.neuButton:focus {
  outline: none;
}
.neuButton:hover {
  transform: scale(1.05);

  border: solid black 5px;
}
.gradientContainer {
  mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
  -webkit-mask-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
  );
}
/* ImageCarousel.module.css */
/* Your CSS file */
.buttonText:hover {
  font-family: 'Henny Penny', cursive !important;
}
input::placeholder {
  font-weight: bold;
}

.addFunnyFont {
  font-family: 'Henny Penny', cursive;
  letter-spacing: 3px;
}

#inputCustom::placeholder {
  font-weight: bold;
}
/* bubbles.css */
@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.front {
  transform: translateZ(50px);
  background-image: url('/front.jpg');
}

.back {
  transform: translateZ(-50px) rotateY(180deg);
  background-image: url('/back.jpg');
}

.top {
  transform: rotateX(90deg) translateZ(50px);
  background-image: url('/top.jpg');
}

.bottom {
  transform: rotateX(-90deg) translateZ(50px);
  background-image: url('/bottom.jpg');
}

.left {
  transform: rotateY(-90deg) translateZ(50px);
  background-image: url('/left.jpg');
}

.right {
  transform: rotateY(90deg) translateZ(50px);
  background-image: url('/right.jpg');
}

@keyframes rotate {
  0% {
    transform: rotateX(0) rotateY(0);
  }
  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
/* .client-card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 2vw 2vh;
  padding: 5rem;
} */
.client-card {
  transition: pulsing 1 ease;
}
.client-card-wrapper {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 2vw 2vh;
  padding: 5rem;
}

@keyframes moveCarousel {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.carousel-content {
  display: flex;
  animation: moveCarousel 20s linear infinite; /* Adjust the animation duration as needed */
}
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px); /* Adjust bounce height */
  }
}
Input::placeholder {
  font-style: italic;
  font-size: 1em;
  color: mintcream;
  background: thistle;
  padding: 5px;
}
#emailSentDiv {
  background-image: url('/emailsent.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: inset 0px 0px 1px 10px white;
}
.scrolled {
  background-color: var(--primary-blue) !important;
}
